<h2>Constructors</h2>
<table class="table table-hover table-condensed table-responsive">
  <thead>
  <th>Name</th>
  <th>Nationality</th>
  <th>URL</th>
  </thead>
  <tbody>
  {{#each constructors}}
    <tr>
      <td><a href="/constructors/{{constructorId}}">{{name}}</a></td>
      <td>{{nationality}}</td>
      <td>
        <a href="{{url}}" rel="external" target="_blank">
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
<nav>
  <ul class="pagination">
    {{#if prev}}
      <li>
        <a href="?page={{prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{else}}
      <li class="disabled">
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{/if}}
    {{#times count=total start=1}}
      {{#eq current @index}}
        <li class="active"><a href="#">{{@index}}</a></li>
      {{else}}
        <li><a href="?page={{@index}}">{{@index}}</a></li>
      {{/eq}}
    {{/times}}
    {{#if next}}
      <li>
        <a href="?page={{next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{else}}
      <li class="disabled">
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{/if}}
  </ul>
</nav>
